<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>snapshot을 찍은 후 publish&#xd;
- publish : 사용자들이 받을 수 있도록 배포하는 단계&#xd;
&#xd;
&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>3</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DISTRIBUTION_NAME</name>
          <description>publish 하고자하는 distribution 이름 (ex. nabi)</description>
          <defaultValue>tmaxgooroom-3.0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PREFIX_NAME</name>
          <description>distribution이 위치할 경로 (ex. tmax)
-&gt; tmax로 설정할 경우 http://tos-repo.tmaxos.com/tmax에 위치
-&gt; debian으로 설정할 경우 http://tos-repo.tmaxos.com/debian에 위치</description>
          <defaultValue>tmax</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.7">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export GPG_TTY=$(tty)

set -x

SNAPSHOT_NAME=&quot;$(date --iso-8601=seconds)-${DISTRIBUTION_NAME}&quot;

DISTRIBUTION=${DISTRIBUTION_NAME}
PREFIX=${PREFIX_NAME}
GPGID=&quot;TmaxOS Stable Release Key (21/gorani)&quot;
GPGPASSWD=&quot;&quot;
CONFIG=&quot;/etc/aptly.conf&quot;

if [ &quot;${DISTRIBUTION}&quot; == &quot;&quot; ] || [ &quot;${PREFIX}&quot; == &quot;&quot; ] || [ &quot;${GPGID}&quot; == &quot;&quot; ] || [ &quot;${CONFIG}&quot; == &quot;&quot; ]; then
  echo -e &quot;Please put arguments. ( ./snapshot_create_and_publish_switch.sh {DISTRIBUTION} {PREFIX} {GPGID} {GPGPASSWD} {CONFIG})&quot;
  exit 1
fi

aptly snapshot create -config=${CONFIG} ${SNAPSHOT_NAME}_${DISTRIBUTION}_main from repo ${DISTRIBUTION}_main

if [ ${DISTRIBUTION} == &quot;tmaxgooroom-3.0-stable&quot; ] || [ ${DISTRIBUTION} == &quot;tmaxgooroom-3.0-updates&quot; ]  ; then
  aptly publish snapshot -config=${CONFIG} \
  -origin=&quot;Tmax&quot; \
  -gpg-key=&quot;${GPGID}&quot; -batch \
  -component=main -architectures=&quot;amd64&quot; \
  -distribution=&quot;${DISTRIBUTION}&quot; \
  ${SNAPSHOT_NAME}_${DISTRIBUTION}_main \
  ${PREFIX}
else
  aptly publish snapshot -config=${CONFIG} \
  -origin=&quot;Tmax&quot; \
  -gpg-key=&quot;${GPGID}&quot; -batch \
  -component=main -architectures=&quot;amd64,source&quot; \
  -distribution=&quot;${DISTRIBUTION}&quot; \
  ${SNAPSHOT_NAME}_${DISTRIBUTION}_main \
  ${PREFIX}
fi
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.43">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>DISTRIBUTION=${DISTRIBUTION_NAME}</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>5_copy_to_public_repo</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.1">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>